<h2>{{user.username}}</h2>

<h1>Add an Invoice</h1>
    <div>
        {{!-- <h3>Pick a Wholesaler</h3>
            <select>
                {{#each wholesaler}}
                <option value="{{this.wholesalerId}}">{{this.wholesalerName}}</option>
                {{/each}}
            </select>

        <h3>Pick a Department</h3>
            <select>
                {{#each department}}
                <option value="{{this.departmentId}}">{{this.departmentName}}</option>
                {{/each}}
            </select>     --}}
        <form id="invoice-form">
            <label for="invoice_id">Invoice #: </label>
            <input type="text" id="invoice_id">
            <label for="wholesaler">Wholesaler Name: </label>
            <input type="text" id="wholesaler">
            <label for="descripton">Description: </label>
            <input type="text" id="description">
            <label for="amount">Amount: </label>
            <input type="text" id="amount">
            <label for="payby">Pay by Date: </label>
            <input type="text" id="payby">
            <label for="department">Department: </label>
            <input type="text" id="department">
            <button type="submit">Submit</button>
         </form>
    </div>


<script src = 'js/invoiceForm.js'></script>