

<div class="container">
    <div id="invoice">
        
          <div>
            <p>Invoice #: {{invoice_id}}</p>
            <p>Wholesaler Name: {{wholesaler}}</p>
            <p>Description: {{descripton}}</p>
            <p>Amount: {{pay_amount}}</p>
            <p>Pay by Date: {{pay_date}}</p>
          </div>
        
    </div>
</div>
